# Introduction to Python Programming

### Hello World

The first thing we do while learning any Programming Language is printing Hello World on to the screen


So we start learning python with printing Hello World

In [1]:
print("Hello World!")

Hello World!

## Numbers and more in Python!

In this Session, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

### Basic Arithmetic

In [2]:
# Addition
2+1

3

In [3]:
# Subtraction
2-1

1

In [4]:
# Multiplication
2*2

4

In [5]:
# Division
3/2

1.5

In [6]:
# Floor Division
7//4

1

**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

**So what if we just want the remainder after division?**

In [7]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

### Arithmetic continued

In [8]:
# Powers
2**3

8

In [9]:
# Can also do roots this way
4**0.5

2.0

In [10]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [11]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variables

- Variables are containers for storing data values.

- Unlike other programming languages, Python has no command for declaring a variable.

- A variable is created the moment you first assign a value to it.

### Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [12]:
# Let's create an object called "a" and assign it the number 5
a = 5
a

5

Here we assigned the integer object `5` to the variable name `a`.
<br>Now if I call *a* in my Python script, Python will treat it as the number 5.

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

What happens on reassignment? Will Python let us write it over?

In [13]:
# Reassignment
a = 10

In [14]:
# Check
a

10

In [15]:
# Adding the objects
a+a

20

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [16]:
val = 2

In [17]:
val

2

In [18]:
val='Python'

In [19]:
val

'Python'

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

In [20]:
a = a + 10

In [21]:
a

20

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [22]:
a += 10

In [23]:
a

30

In [24]:
a *= 2

In [25]:
a

60

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [26]:
type(a)

int

In [27]:
a = 2.5

In [28]:
type(a)

float

## Simple Exercise
This shows how variables make calculations more readable and easier to follow.

In [29]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [30]:
my_taxes

10.0

## Operators in Python

1. Arithmetic operators
2. Comparison operators
3. Logical operators
4. Bitwise operators
5. Assignment operators
6. Identity operators
7. Membership operators

<table border="4">
<h3>1. Arithmetic operators</h3>
<tbody>
    <tr>
        <th>Operator</th>
        <th>Meaning</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>+</td>
        <td>Add two operands or unary plus</td>
        <td>x + y<br>
            +2</td>
    </tr>
    <tr>
        <td>-</td>
        <td>Subtract right operand from the left or unary minus</td>
        <td>x - y<br>
            -2</td>
    </tr>
    <tr>
        <td>*</td>
        <td>Multiply two operands</td>
        <td>x * y</td>
    </tr>
    <tr>
        <td>/</td>
        <td>Divide left operand by the right one (always results into float)</td>
        <td>x / y</td>
    </tr>
    <tr>
        <td>%</td>
        <td>Modulus - remainder of the division of left operand by the right</td>
        <td>x % y (remainder of x/y)</td>
    </tr>
    <tr>
        <td>//</td>
        <td>Floor division - division that results into whole number adjusted to the left in the number line</td>
        <td>x // y</td>
    </tr>
    <tr>
        <td>**</td>
        <td>Exponent - left operand raised to the power of right</td>
        <td>x**y (x to the power y)</td>
    </tr>
</tbody>
</table>


<table border="2">
	<h3>2. Comparision operators</h3>
	<tbody>
		<tr>
			<th>Operator</th>
			<th>Meaning</th>
			<th>Example</th>
		</tr>
		<tr>
			<td>&gt;</td>
			<td>Greater that - True if left operand is greater than the right</td>
			<td>x &gt; y</td>
		</tr>
		<tr>
			<td>&lt;</td>
			<td>Less that - True if left operand is less than the right</td>
			<td>x &lt; y</td>
		</tr>
		<tr>
			<td>==</td>
			<td>Equal to - True if both operands are equal</td>
			<td>x == y</td>
		</tr>
		<tr>
			<td>!=</td>
			<td>Not equal to - True if operands are not equal</td>
			<td>x != y</td>
		</tr>
		<tr>
			<td>&gt;=</td>
			<td>Greater than or equal to - True if left operand is greater than or equal to the right</td>
			<td>x &gt;= y</td>
		</tr>
		<tr>
			<td>&lt;=</td>
			<td>Less than or equal to - True if left operand is less than or equal to the right</td>
			<td>x &lt;= y</td>
		</tr>
	</tbody>
</table>

<table border="1">
	<h3>3. Logical operators</h3>
	<tbody>
		<tr>
			<th>Operator</th>
			<th>Meaning</th>
			<th>Example</th>
		</tr>
		<tr>
			<td>and</td>
			<td>True if both the operands are true</td>
			<td>x and y</td>
		</tr>
		<tr>
			<td>or</td>
			<td>True if either of the operands is true</td>
			<td>x or y</td>
		</tr>
		<tr>
			<td>not</td>
			<td>True if operand is false (complements the operand)</td>
			<td>not x</td>
		</tr>
	</tbody>
</table>

<table border="1">
	<h3>4. Bitwise operators</h3>
	<tbody>
		<tr>
			<th>Operator</th>
			<th>Meaning</th>
			<th>Example</th>
		</tr>
		<tr>
			<td>&amp;</td>
			<td>Bitwise AND</td>
			<td>x&amp; y = 0 (<code>0000 0000</code>)</td>
		</tr>
		<tr>
			<td>|</td>
			<td>Bitwise OR</td>
			<td>x | y = 14 (<code>0000 1110</code>)</td>
		</tr>
		<tr>
			<td>~</td>
			<td>Bitwise NOT</td>
			<td>~x = -11 (<code>1111 0101</code>)</td>
		</tr>
		<tr>
			<td>^</td>
			<td>Bitwise XOR</td>
			<td>x ^ y = 14 (<code>0000 1110</code>)</td>
		</tr>
		<tr>
			<td>&gt;&gt;</td>
			<td>Bitwise right shift</td>
			<td>x&gt;&gt; 2 = 2 (<code>0000 0010</code>)</td>
		</tr>
		<tr>
			<td>&lt;&lt;</td>
			<td>Bitwise left shift</td>
			<td>x&lt;&lt; 2 = 40 (<code>0010 1000</code>)</td>
		</tr>
	</tbody>
</table>

<table border="1">
	<h3>5. Assignment operators</h3>
	<tbody>
		<tr>
			<th>Operator</th>
			<th>Example</th>
			<th>Equivatent to</th>
		</tr>
		<tr>
			<td>=</td>
			<td>x = 5</td>
			<td>x = 5</td>
		</tr>
		<tr>
			<td>+=</td>
			<td>x += 5</td>
			<td>x = x + 5</td>
		</tr>
		<tr>
			<td>-=</td>
			<td>x -= 5</td>
			<td>x = x - 5</td>
		</tr>
		<tr>
			<td>*=</td>
			<td>x *= 5</td>
			<td>x = x * 5</td>
		</tr>
		<tr>
			<td>/=</td>
			<td>x /= 5</td>
			<td>x = x / 5</td>
		</tr>
		<tr>
			<td>%=</td>
			<td>x %= 5</td>
			<td>x = x % 5</td>
		</tr>
		<tr>
			<td>//=</td>
			<td>x //= 5</td>
			<td>x = x // 5</td>
		</tr>
		<tr>
			<td>**=</td>
			<td>x **= 5</td>
			<td>x = x ** 5</td>
		</tr>
		<tr>
			<td>&amp;=</td>
			<td>x &amp;= 5</td>
			<td>x = x &amp; 5</td>
		</tr>
		<tr>
			<td>|=</td>
			<td>x |= 5</td>
			<td>x = x | 5</td>
		</tr>
		<tr>
			<td>^=</td>
			<td>x ^= 5</td>
			<td>x = x ^ 5</td>
		</tr>
		<tr>
			<td>&gt;&gt;=</td>
			<td>x &gt;&gt;= 5</td>
			<td>x = x &gt;&gt; 5</td>
		</tr>
		<tr>
			<td>&lt;&lt;=</td>
			<td>x &lt;&lt;= 5</td>
			<td>x = x &lt;&lt; 5</td>
		</tr>
	</tbody>
</table>

<table border="1">
	<h3>6. Identity operators in Python</h3>
	<tbody>
		<tr>
			<th>Operator</th>
			<th>Meaning</th>
			<th>Example</th>
		</tr>
		<tr>
			<td>is</td>
			<td>True if the operands are identical (refer to the same object)</td>
			<td>x is True</td>
		</tr>
		<tr>
			<td>is not</td>
			<td>True if the operands are not identical (do not refer to the same object)</td>
			<td>x is not True</td>
		</tr>
	</tbody>
</table>

### Membership operators

**in** and **not in** are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In a dictionary we can only test for presence of key, not the value.

<table border="1">
	<tbody>
		<tr>
			<th>Operator</th>
			<th>Meaning</th>
			<th>Example</th>
		</tr>
		<tr>
			<td>in</td>
			<td>True if value/variable is found in the sequence</td>
			<td>5 in x</td>
		</tr>
		<tr>
			<td>not in</td>
			<td>True if value/variable is not found in the sequence</td>
			<td>5 not in x</td>
		</tr>
	</tbody>
</table>

## Python Namespace and Scope

### What is Name in Python?
Name (also called identifier) is simply a name given to objects. Everything in Python is an object. Name is a way to access the underlying object.

For example, when we do the assignment a = 2, here 2 is an object stored in memory and a is the name we associate it with. We can get the address (in RAM) of some object through the built-in function, id(). Let's check it.

In [31]:
# Note: You may get different value of id

a = 2
print('id(2) =', id(2))

print('id(a) =', id(a))

id(2) = 140732356531040
id(a) = 140732356531040

Here, both refer to the same object. What is happening in the above sequence of steps? A diagram will help us explain this.

Memory diagram of a variable

<img src="images/NameSpace.jpg">

Initially, an object 2 is created and the name a is associated with it, when we do a = a+1, a new object 3 is created and now a associates with this object.

Note that id(a) and id(3) have same values.

Furthermore, when we do b = 2, the new name b gets associated with the previous object 2.

This is efficient as Python doesn't have to create a new duplicate object. This dynamic nature of name binding makes Python powerful; a name could refer to any type of object

### What is a Namespace in Python?
So now that we understand what names are, we can move on to the concept of namespaces.

To simply put it, namespace is a collection of names.

In Python, you can imagine a namespace as a mapping of every name, you have defined, to corresponding objects.

Different namespaces can co-exist at a given time but are completely isolated.

A namespace containing all the built-in names is created when we start the Python interpreter and exists as long we don't exit.

This is the reason that built-in functions like id(), print() etc. are always available to us from any part of the program. Each module creates its own global namespace.

These different namespaces are isolated. Hence, the same name that may exist in different modules do not collide.

Modules can have various functions and classes. A local namespace is created when a function is called, which has all the names defined in it. Similar, is the case with class. Following diagram may help to clarify this concept.

<img src="images/namespaces-python.jpg">

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about Strings!